<div class="row">
    <div class="col s6 offset-s3">
        <div class="card " style="padding: 0%;
        padding-top: 1%;
        padding-left: 2%;
        padding-right: 2%;" id="login-card">

<div id="loader" class="valign-wrapper center-align" *ngIf="displayLoader">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
</div>


            <h6 class="card-title" style="text-transform: uppercase; font-weight: bold; color: blue;">Partner Login</h6>
            <hr>
            <div id="login-error" *ngIf="displayError">
                <span>Email ID or password is incorrect, try again with valid credentials</span>
            </div>
            <div id="login-error" *ngIf="passwordError">
                <span>Password is incorrect, try again with the correct password</span>
            </div>
            <div class="row card-content">
                <form class="col s12" [formGroup]="formGroup" >
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix_1" type="email" class="validate" formControlName="email" required>
                            <label for="icon_prefix_1">Enter Your Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">dialpad</i>
                            <input id="icon_prefix_2" type="password" class="validate" formControlName="password" required>
                            <label for="icon_prefix_2">Enter Your Password</label>
                        </div>
                    </div>
                </form>
                <div class="col s12">
                    <button class="btn-large" style="width: 100%;" [disabled]="formGroup.status!='VALID'"  (click)="authenticate()"> Login</button>
                </div>
            </div>
            
        </div>
        <div style="text-align: center;">
            <span>Dont have an account?</span><br>
            <span><a href="#" [routerLink]="['/user/register-client']">Sign up as Client</a></span><span> | </span><span><a href="#" [routerLink]="['/user/register-partner']">Sign up as Partner</a></span>
    </div>
    </div>
</div>