.navigation{
    margin-left: 2%;
}
.navigation button{
    width: 15rem;
    width: 15rem;
    background: transparent;
    color: black;
    font-size: medium;
    box-shadow: none;
    
}
.activated{
    background: transparent;
    color: deeppink !important;
    font-size: medium;
    border-bottom: 2px solid;
    /* border: none; */
    box-shadow: none;
}
.error{
    border-bottom: 2px solid red !important;
}
.okay{
    border-bottom:2px solid green !important;
}
.option-tags{
    padding: 1rem;
    border-radius: 25px;
    margin-left: 5px;
    border: 1px solid grey;
    background: #08264D;
    color: white;
    display:inline-block
}