<div style="background-image: url('../../../assets/back.jpg');margin-top: 0px;
padding-top: 25px;
">
  <div class="container" style="padding-bottom: 5rem;    ">
    <h2>Be a part of us!</h2>
    <h5>Be a part of our community to access our vast amounts of data at fingertips, share your expertise with the world to make it a better place</h5>
    <br>
    <div class="row z-depth-4" style="background-color: white;padding-top: 5px;border-top-left-radius: 11px;border-top-right-radius: 11px;">
      <div class="col s12 " style="background-color: white;">
        <div class="navigation">
            <button class="btn-large hover" [routerLink]='["/user/register-client"]'>Client</button>
            <button class="btn-large activated hover" style="margin-left:5px" [routerLink]='["/user/register-partner"]'>Partner</button>
        </div>
        
      </div>
  
      <hr>
    </div>
  
    <div style="background:white;padding:1%;margin-top: -20px;border-bottom-left-radius: 11px;border-bottom-right-radius: 11px;" class="z-depth-4">
        <div class="row">
            <form action="" class="col s12" [formGroup]="partnerForm">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" name="" id="" formControlName="firstName">
                            <label for=""> First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" name="" id="" formControlName="lastName">
                            <label for=""> Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="password" name="" id="" formControlName="password">
                            <label for=""> Enter Your Password</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="password" name="" id="" formControlName="confirmPassword" (keyup)="checkPassword()" [ngClass]="{'error':matchPassword!=null&&matchPassword==false,'okay':matchPassword!=null&&matchPassword==true}">
                            <label for=""> Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="email" name="" id="" formControlName="email" >
                            <label for="">Your Email Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="number" name="" id="" formControlName="phoneNumber">
                            <label for="">Your Phone Number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select formControlName = "country">
                                <option value='{{i.name}}' *ngFor="let i of country">
                                    {{i.name}}
                                </option>
                             </select>
                            <label>Choose Your Country</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12"><input type="text" name="" id="" formControlName="industry" style="width: 90%;"><label for="">Your Industry</label>
                            <button class="btn" style="margin-left: 2rem;" (click)="addToIndustries($event)">Add</button>
                        </div>
                        <div class="col s12" *ngIf="industries.length>0" style="padding-bottom:1rem">
                            <h6 style="padding-bottom:1rem">Industries Selected</h6>
                        <span *ngFor="let i of industries" class="option-tags"> {{i}}</span>
                        </div>
                        
                        <div class="input-field col s12"><input type="number" name="" id="" formControlName="yearsOfExperience" value="0"><label for="">Years of Experience</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12"><input type="text" name="" id="" formControlName="linkedInProfile"><label for="">Your LinkedIn Profile Url</label>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea formControlName="aboutMe" class="materialize-textarea"></textarea>
                            <label for="textarea1">Something about you?</label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="alreadyExists!=null&&alreadyExists==true">
                    <div class="col s12" style="color: red;border:1px solid red;padding:1rem;text-align: center;border-radius:10px"> 
                    <p>This email id is already associated with an account</p>
                    <p>Use another email account</p>
                    </div>
                </div>
                <div class="row" *ngIf="createdAccount!=null&&createdAccount==true">
                    <div class="col s12" style="color: black;border:1px solid green;padding:1rem;text-align: center;border-radius:10px;background-color: green;"> 
                    <p>Your Account has been created, Redirecting to Partner Login page in 5 seconds. </p>
                    <a href="" [routerLink]="['/login/partner']">
                        Or click here to navigate instanty
                    </a>
                 
                    </div>
                </div>
                
                <div class="row">
                    <div class="col s4 offset-s4">
                        <button class="btn"style="width: 100%;" [disabled]="partnerForm.status!='VALID'&&matchPassword==false" (click)="register()"> Register</button>
                    </div>
                </div>
            </form>
        
        </div>
    </div>
    
  </div>
</div>

