.result {
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    margin-top: 5px;
  }
  .result-heading{
    padding-left:2%;
    padding-right:2%;
}
.title{
    font-size: x-large;   
    color: black;

}
.metadata{
    color:grey
}
.price {
    color: green;
    font-weight: 500;
    float: right;
    font-size: x-large
  }
  .date{
    float:left;
    font-style: italic;
}
.search-content {
    margin-left: 1.2rem;
  }
  .content{
    margin-top: 0;
}
.typeIcons{
    width: 30px;
    float: right;
    margin-right: 2px;
  }
  .buy-buttons {
    display: block;
    width: 100%;
    margin-top: 3px;
    background-color: #08264D !important;
    border-bottom : 1px solid yellow
  }