#page-root{
    padding:4rem
}
#mydatasearchbar{
    

}
.data-section{
    padding-left:2rem;
    padding-right:2rem
}
#card-section{
    padding-top:1%;
    padding-bottom:2%
}
#result-pane{
    margin-left: 2rem;
    margin-right:2rem;
}
