#page-root{
    /* height: 5rem; */
    padding:2rem
}
#profile-image{
    width: 15rem;
    height: 15rem;
}
#profile-image-container{
    padding-top: 2rem;
    text-align:center;
}
#profile-image-container image{
    border:1px solid lightgray !important;
}
.card-title{
    text-align:center;
}
#user-profile-display{
    padding-left: 1rem;
    padding-right :1rem;
    padding-bottom:2rem;

}
#user-email-display{
    color:blue;
    text-align: center;
    font-weight: 700;

}
#user-phone-display{
    color:blue;
    text-align: center;
    font-weight: 700;

}
#earning-summary{
    padding: 2%;
}
#about-me{
    padding:2%
}
.section-icon{
    position:relative;
    top: 5px;
}
.section-heading{
    font-weight:700 ;
    /* text-transform: uppercase; */
    /* color: blue; */
}
.section-heading-container{
    font-size: large;
}
#welcome-banner{
    color: white;
    font-weight: 700;
    padding:1rem;
    background: rgb(161,56,94);
    background: linear-gradient(97deg, rgba(161,56,94,1) 4%, rgba(253,29,29,0.9923319669664741) 50%, rgba(252,176,69,1) 100%);}

    .chart-container{
        margin-top: 2rem;
    }
    .options-pane-button{
        box-shadow: none;
        width: 100%;
        margin-top: 1rem;
        background-color: #08264D;
    }

.editAboutIndicator{
    background:grey !important;
}