<app-navigation>
</app-navigation>
<router-outlet></router-outlet>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <h5 class="white-text">Zilopi</h5>
        <p class="grey-text text-lighten-4">A global datasearch tools to power your insights</p>
        <div>
          
        </div>
      </div>
      <div class="col s12 l3">
        <h5 class="white-text">Legal </h5>
        <ul>
          <li><a href="" class="grey-text text-lighten-3">Privacy Policy</a></li>
          <li><a href="" class="grey-text text-lighten-3">Terms of use</a></li>
          <li><a href="" class="grey-text text-lighten-3">Legal</a></li>
          <!-- <li><a href="" class="grey-text text-lighten-3">Privacy</a></li> -->


        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Know More</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Help & FAQ</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Careers at Zilopi</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Follow Us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Linked-In</a></li>
        </ul>
      </div>
      <div class="col s12 l3">
        <div style="border-bottom: yellow;">
          <h6 style="color: white;">Write Us</h6>
          <!-- <a class="btn"><i class="material-icons">email</i>info@zilopi.com</a> -->
          <a class="waves-effect waves-light btn" style="color: white;background:transparent;box-shadow: none;"><i class="material-icons left">email</i>info@zilopi.com</a>

        </div>
        <div style="border-bottom: yellow;">
          <h6 style="color: white;">Contact us</h6>
          <!-- <a class="btn"><i class="material-icons">local_phone</i>+91 901 573 1800</a> -->
          <a class="waves-effect waves-light btn" style="color: white;background:transparent;box-shadow: none;"><i class="material-icons left">local_phone</i>+91 901 573 1800</a>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="font-size:smaller;color: grey;">
    <div class="container">
      Zilopi.com is Privately owned and trademarked by Jagdish solutions S.R.O. , All rights reserved.
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      (BUILD : 03-03-2020s)
    </div>
  </div>
</footer>
