<div id="page-root" class="">

    <div class="row">
      <!-- Left Hand Pane -->
      <div class="col s3">
  
        <div class="card" id="user-profile-display">
          <div id="profile-image-container">
            <img src="../../../../assets/avatar.jpg" class="circle responsive-img" alt="profile-page" id="profile-image">
  
          </div>
          <div class="card-title">
            <!-- Display name Here -->
            <h5>{{firstName+" "+lastName}}</h5>
            <!-- <h5>Atul Vinod</h5> -->
          </div>
  
          <div id="user-email-display">
  
           {{Email}}
           <!-- atulvinod1911@gmail.com -->
  
          </div>
  
          <div id="user-phone-display">
            {{Phone}}
            <!-- 7889771639 -->
          </div>
          <hr>
          <div id="options-pane">
              <button class="options-pane-button btn-large hover" [routerLink]="['addData']"><i class="material-icons left">cloud_download</i>Your Subscriptions</button>
  
              <button class="options-pane-button btn-large hover"><i class="material-icons left">account_circle</i>Account Settings</button>
              <button class="options-pane-button btn-large hover" [routerLink]="['mydata']"><i class="material-icons left">data_usage</i>My Data</button>
              <button class="options-pane-button btn-large hover"><i class="material-icons left">share</i>Refer a colleague</button>   
          </div>
  
        </div>
      </div>
  
      <!-- Right hand pane -->
      <div class="col s8 ">
        <div class="row">
          <div class="col s12">
            <div class="card" id="welcome-banner">
              <h5>Welcome to your Dashboard!</h5>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col s12">
            <div class="card card-padding">
              <div class="section-heading-container">
                <i class="material-icons section-icon">assignment_ind</i> <span class="section-heading">About Me</span>
                <!-- TODO:Add The edit buttons -->
                  <button style="float:right;color:brown;text-transform:uppercase" (click)="editAbout()" *ngIf="editAboutParagraph==false">edit</button>
                  <button style="float:right;color:brown;text-transform:uppercase" (click)="saveAbout()" *ngIf="editAboutParagraph==true">Save</button>
              </div>
              <hr>
              <div>
                  <!-- TODO: Add the editable function -->

                <p [contentEditable]="editAboutParagraph" [ngClass]="{'editAboutIndicator':editAboutParagraph==true}" [innerText]="AboutMe" (keyup)="updateAboutMe($event.target.innerText)">Atul vinod is a computer engineer at Lovely professional university</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card card-padding"  id="recent-purchase-card">
                    <div class="section-heading-container">
                        <i class="material-icons section-icon" style="padding-right: 0.1rem;">clear_all</i><span class="section-heading">Your recent purchases</span>
                    </div>
                    <hr>

                    <div id="recent-purchase-container">
                
                      <!-- //TODO: Recent purchases created by the user -->
                        <div class="recent-purchase">
                            <div class="recent-purchase-header-container">
                                <div class="row">
                                    <div class="col s9">
                                        <span class="recent-purchase-header">Data of wine in ukraine</span>
                                        <span> &bull; </span>
                                        <span class="recent-purchase-date">15th Jan 2020</span>
                                    </div>
                                    <div class="col s3">
                                        <span class="recent-purchase-actions">
                                    
                                            <span class="price">15$</span>
                                       
                                            <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Download">cloud_download</i>
                                            <!-- <a class="btn tooltipped" >Hover me!</a> -->
                                            <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Show Information">info</i>

                                        </span>
                                        
                                    </div>
                                    <div class="col s12" style="border-top: 1px solid lightgrey;margin-top: 0.5rem;"
                                    ></div>
                                    <div class="col s9" >
                                      <p>This dataset contains the facts and figures related to the working of wine in Ukraine</p>
                                    </div>
                                </div>
                             
                                
                            </div>
                        </div>

                        <div class="recent-purchase">
                          <div class="recent-purchase-header-container">
                              <div class="row">
                                  <div class="col s9">
                                      <span class="recent-purchase-header">Data of wine in ukraine</span>
                                      <span> &bull; </span>
                                      <span class="recent-purchase-date">15th Jan 2020</span>
                                  </div>
                                  <div class="col s3">
                                      <span class="recent-purchase-actions">
                                  
                                          <span class="recent-purchase-price">15$</span>
                                     
                                          <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Download">cloud_download</i>
                                          <!-- <a class="btn tooltipped" >Hover me!</a> -->
                                          <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Show Information">info</i>

                                      </span>
                                      
                                  </div>
                                  <div class="col s12" style="border-top: 1px solid lightgrey;margin-top: 0.5rem;"
                                  ></div>
                                  <div class="col s9" >
                                    <p>This dataset contains the facts and figures related to the working of wine in Ukraine</p>
                                  </div>
                              </div>
                           
                              
                          </div>
                      </div>

                      <div class="recent-purchase">
                        <div class="recent-purchase-header-container">
                            <div class="row">
                                <div class="col s9">
                                    <span class="recent-purchase-header">Data of wine in ukraine</span>
                                    <span> &bull; </span>
                                    <span class="recent-purchase-date">15th Jan 2020</span>
                                </div>
                                <div class="col s3">
                                    <span class="recent-purchase-actions">
                                
                                        <span class="price">15$</span>
                                   
                                        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Download">cloud_download</i>
                                        <!-- <a class="btn tooltipped" >Hover me!</a> -->
                                        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Show Information">info</i>

                                    </span>
                                    
                                </div>
                                <div class="col s12" style="border-top: 1px solid lightgrey;margin-top: 0.5rem;"
                                ></div>
                                <div class="col s9" >
                                  <p>This dataset contains the facts and figures related to the working of wine in Ukraine</p>
                                </div>
                            </div>
                         
                            
                        </div>
                    </div>

                    <div class="recent-purchase">
                      <div class="recent-purchase-header-container">
                          <div class="row">
                              <div class="col s9">
                                  <span class="recent-purchase-header">Data of wine in ukraine</span>
                                  <span> &bull; </span>
                                  <span class="recent-purchase-date">15th Jan 2020</span>
                              </div>
                              <div class="col s3">
                                  <span class="recent-purchase-actions">
                              
                                      <span class="price">15$</span>
                                 
                                      <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Download">cloud_download</i>
                                      <!-- <a class="btn tooltipped" >Hover me!</a> -->
                                      <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Show Information">info</i>

                                  </span>
                                  
                              </div>
                              <div class="col s12" style="border-top: 1px solid lightgrey;margin-top: 0.5rem;"
                              ></div>
                              <div class="col s9" >
                                <p>This dataset contains the facts and figures related to the working of wine in Ukraine</p>
                              </div>
                          </div>
                       
                          
                      </div>
                  </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Suggestions -->
        <div class="row">
            <div class="col s12">
              <div class="card card-padding">
                  <div class="section-heading-container">
                    <i class="material-icons section-icon" style="padding-right: 0.1rem;">input</i>    <span class="section-heading">Suggested DataSets</span> 
                  </div>
                  <hr>
                  <div class="suggested-container">
                    <div class="result" >
                      <div class="result-heading row">
                        <div class="col s12">
                          <a href="" class="title">Suggested Content Title</a>
                        <span class="metadata"> &bull; Some Industry</span>
                        <span class="metadata"> &bull; Information Type</span>
                        <span class="price">15$</span>
                        </div>
                        <div class="col s12">
                        <span class="date">12th Jan</span><img class="typeIcons"src="../../../assets/pdf.svg" alt=""><img class="typeIcons"src="../../../assets/excel.svg" alt=""><img class="typeIcons"src="../../../assets/doc.svg" alt=""><img class="typeIcons"src="../../../assets/png.svg" alt="">
                        </div>
                      </div>
                      <div class="result-subheading">
                        <div class=" row search-content">
                          <!-- Description of data -->
                          <div class="col s9">
                          <p class="content">Some description</p >
                          </div>
                          <div class="col s3">
                            <a class="waves-effect waves-light btn buy-buttons"><i class="material-icons left">add_shopping_cart</i>Add to cart</a>
                            <a class="waves-effect waves-light btn buy-buttons"><i class="material-icons left">error_outline</i>View details</a>                                </div>
                        </div>
                      </div>
                      
                  </div>
                  
                  </div>
              </div>
              
            </div>
        </div>

  
        <div class="row">
          <div class="col s12">
            <div class="card card-padding">
              <div class="section-heading-container">
                <i class="material-icons section-icon "  >attach_money</i> <span class="section-heading">Your Spending Summary</span>
              </div>
              <hr>
              <div id="earnings-summary-container">
  
                <table style="text-align: center;">
                  <tr>
                    <td>
                      <h6>Total Spending</h6>
                    </td>
                    <td>
                      <h6>10$</h6>
                    </td>
                  </tr>
                  <tr>
                    <td>
                     <h6>Your Subscriptions</h6>
                    </td>
                    <td>
                   
                      <h6>None</h6>
                    </td>
                  </tr>
                </table>
  
                
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  