<div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper">
      <div  style="border-right:1px solid lightgrey">
        <a href="#" [routerLink]="['landing-page']" class="brand-logo"><img src="../../../assets/vectorpaint.svg" alt="" style="width: 8vw;
          color: white;
          margin-top: 0.2rem;
      "></a>
        
        
      </div>
      
      <ul id="nav-mobile" class=" hide-on-med-and-down right">
        <span>
          <li (mouseenter)="showIndustryDropDown=false"><a style="visibility:hidden">Null</a></li>
        <li><a *ngIf="!currentRoute.includes('landing-page')" [routerLink]="['landing-page']" (mouseenter)="showIndustryDropDown=false">Home</a></li>
        <li class="industryDropDown" (mouseenter)="showIndustryDropDown=true" ><a>Industry</a></li>
        <li (mouseenter)="showIndustryDropDown=false"><a>Product Offering</a></li>
        <li><a>About Us</a></li>
      </span>
      <li *ngIf="currentRoute.includes('partner-account') && !currentRoute.includes('addData')"><a href="" class="btn" style="background-color:#08264D;border:1px solid black" [routerLink]="['/partner-account/addData']"><i class="material-icons left" >show_chart</i>Upload dataset</a></li>

      <li style="color: yellow;" *ngIf="getAuthStatus()" > | </li>
      <li><a [routerLink]="['partner-account']" *ngIf="getAuthStatus() && getAccountType()=='Partner' && currentRoute!='/partner-account'" >Dashboard</a></li>
      <li><a [routerLink]="['client-account']" *ngIf="getAuthStatus() && getAccountType()=='Client' && currentRoute!='/client-account'" >Dashboard</a></li>

     
        <!-- <li style="color: yellow;"> | </li> -->
        <li *ngIf="getAuthStatus()==false" id="login-dropdown" (mouseenter)="showDropDown()" (mouseleave)="closeDropDown()" >
          <a  >Login<i
              class="material-icons right">arrow_drop_down</i></a>
           
            <!-- Login dropdowns root -->
              <div id="login-dropdowns-root" *ngIf="true" [@dropDown]=" showDropDownControl ? 'true' : 'false'">

              <div class="login-dropdowns">
                <a href="#!" [routerLink]="['/login/client']" (click)="showDropDownControl=false" *ngIf="!currentRoute.includes('login/client')">Customer</a>
              </div>
              <div class="login-dropdowns">
                <a href="#!" [routerLink]="['/login/partner']" (click)="showDropDownControl=false" *ngIf="!currentRoute.includes('login/partner')">Partner</a>
              </div>


            </div>
           
            </li>
              
          <li *ngIf="getAuthStatus()" ><a href="" (click)="logout()">Logout</a></li>

          <li *ngIf="getAuthStatus()" (mouseenter)="showProfileDropDown()" (mouseleave)="closeProfileDropDown()"><a href="" class="btn z-depth-2 tooltipped" data-position="left" data-tooltip='You are logged in' style=" background: content-box;
            border-bottom: 1px solid yellow;"><i class="material-icons left">account_circle</i>{{getName()}}</a>
            
          <div>
            <div class="login-dropdowns-root" [@dropDown]="showProfileDropDownControl ? 'true' : 'false'" *ngIf="getAccountType()=='Client'">
              <!-- <div class="login-dropdowns-root"> -->
              <div class="login-dropdowns" [routerLink]="['client-account']">
                Profile/Dashboard
              </div>
              <div class="login-dropdowns">
                Invite Friends
              </div>
  
              <div class="login-dropdowns">
                Account Settings
              </div>
              <div class="login-dropdowns">
                Purchased
              </div>
              <div class="login-dropdowns">
                My Wallet
              </div>
              <div class="login-dropdowns">
                My Reports
              </div>
            </div>
            <div class="login-dropdowns-root" [@dropDown]="showProfileDropDownControl ? 'true' : 'false'" *ngIf="getAccountType()=='Partner'">
              <div class="login-dropdowns" [routerLink]="['partner-account']">
                Profile/Dashboard
              </div>
              <div class="login-dropdowns">
                Invite Friends
              </div>
  
              <div class="login-dropdowns">
                Account Settings
              </div>
              <div class="login-dropdowns">
                My Reports
              </div>
            </div>

          </div>
        </li>
          
        <li *ngIf="!currentRoute.includes('user') && !currentRoute.includes('partner-account') && getAuthStatus()==false"><a [routerLink]="['/register']">Create Free Account</a></li>
  
      </ul>
      
    </div>
    
    <div id="industries-container"  class="accent-background industryDropDown" *ngIf='showIndustryDropDown' (mouseover)='showIndustryDropDown=true' (mouseleave)='showIndustryDropDown=false' >
        <h4 style="text-align: center; color: white; text-transform: uppercase;font-size: 25px;">Industries that we provide data for</h4>

        <div class="accent-background" id="industry-topics">
          <a  class="btn" (click)="executeSearch('Agriculture and Allied Industries')">Agriculture and Allied Industries</a>
          <a  class="btn" (click)="executeSearch('Automobiles')">Automobiles</a>
          <a  class="btn" (click)="executeSearch('Auto Components')">Auto Components</a>
          <a  class="btn" (click)="executeSearch('Aviation')">Aviation</a>
          <a  class="btn" (click)="executeSearch('Banking')">Banking</a>
          <a  class="btn" (click)="executeSearch('Cement')">Cement</a>
          <a  class="btn" (click)="executeSearch('Consumer Durable')">Consumer Durable</a>
          <a  class="btn" (click)="executeSearch('E Commerce')">E Commerce</a>
          <a  class="btn" (click)="executeSearch('Education and Training')">Education and Training</a>
          <a  class="btn" (click)="executeSearch('Engineering and Capital Goods')">Engineering and Capital Goods </a>
          <a  class="btn" (click)="executeSearch('Financial Services')">Financial Services</a>
          <a  class="btn" (click)="executeSearch('FMCG')">FMCG</a>
          <a  class="btn" (click)="executeSearch('Gems and Jewellery')">Gems and Jewellery</a>
          <a  class="btn" (click)="executeSearch('HealthCare')">HealthCare</a>
          <a  class="btn" (click)="executeSearch('Infrastructure')">Infrastructure</a>
          <a  class="btn" (click)="executeSearch('Insurance')">Insurance</a>
          <a  class="btn" (click)="executeSearch('IT & ITES')">IT & ITES</a>
          <a  class="btn" (click)="executeSearch('Manufacturing')">Manufacturing</a>
          <a  class="btn" (click)="executeSearch('Media and entertainment')">Media and entertainment</a>
          <a  class="btn" (click)="executeSearch('Metals and mining')">Metals and mining</a>
          <a  class="btn" (click)="executeSearch('Oil and gas')">Oil and gas</a>
          <a  class="btn" (click)="executeSearch('Pharmaceuticals')">Pharmaceuticals</a>
          <a  class="btn" (click)="executeSearch('Ports')">Ports</a>
          <a  class="btn" (click)="executeSearch('Power')">Power</a>
          <a  class="btn" (click)="executeSearch('Railways')">Railways</a>
          <a  class="btn" (click)="executeSearch('real estate')">real estate</a>
          <a  class="btn" (click)="executeSearch('renewable energy')">renewable energy</a>
          <a  class="btn" (click)="executeSearch('retail')">retail</a>
          <a  class="btn" (click)="executeSearch('roads')">roads</a>
          <a  class="btn" (click)="executeSearch('Science and technology')">Science and technology</a>
          <a  class="btn" (click)="executeSearch('services')">services</a>
          <a  class="btn" (click)="executeSearch('steel')">steel</a>
          <a  class="btn" (click)="executeSearch('telecommunications')">telecommunications</a>
          <a  class="btn" (click)="executeSearch('textiles')">textiles</a>
          <a  class="btn" (click)="executeSearch('tourism and hospitality')">tourism and hospitality</a>
























        
        </div>
         
        
    </div>
  
  
  </nav>
</div>


