#main-card{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
    padding: 2%;
    position: relative;
}
#data-head{
    border-bottom:1px solid grey;
}
#rateModal{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255,255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-top: -2%;
    margin-left: -2%;
}
#rateModalContainer{
    background-color: white;
    width: 50%;
    display:block;
    /* justify-content: space-between; */
    border-bottom: 1px solid black;
    padding: 1%;
    border: 1px solid grey;
    border-radius: 10px;
    z-index: 10;
    height : 60%
}
#rateModalContentContainer{
    padding: 2%;
    text-align: center;

}
#rating-bar{
    color: yellow;
    font-size: 50px;
}
.price{
    color:green;
    font-size: 60px;
}
#date{
    font-style: italic;
}
#rating{
    font-size: 45px;
    /* margin-top: 0.25rem; */
    position: relative;
    top: -8px;
}
#snapshot-container{
    min-height: 10rem;
    background-color: grey;
}
#suggestions-container{
    min-height: 30rem;
    background:grey;
}
#data-provided-container{
    padding-top: 1rem;
}
.details-table{
    padding-top: 1rem;
}
#description-container{
    padding-top: 1rem;
}
#snapshot{
    padding-top: 1rem;
}
.modal-holder{
    position: absolute;
    width:100%;
    height: 100%;
    background-color: rgb(255,255,255,0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: -2rem;
    margin-left : -2rem;
  }
  .modal-content{

    width: 50%;
    background: white;
    border:1px solid grey;
    padding-bottom :3rem
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    align-items: center;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }