<div class="page-root">
  <div class="card" id="main-card">

    <div id="rateModal" *ngIf="showFeedBackModal">

        <div id="rateModalContainer">
            <div id="rateModalHeadingContainer" style="border-bottom: 1px solid grey; padding:2%">
                <span style="font-size: 35px;">Your feedback is valuable!</span>
                <button class="btn ui-flat-button right" (click)="showFeedBackModal = false">close</button>
            </div>
            <div id="rateModalContentContainer">
                <h5>How would you rate this dataset?</h5>
                    <ngb-rating [max]=5 [(rate)] = "feedbackRating" id="rating-bar" (hower)="feedbackRating=$event"></ngb-rating>
                    <div style="font-size: 90px;font-weight:500;padding:1%">
                        {{feedbackRating}}/5
                    </div>
                    <div>
                        <h5>Any feedback?</h5>
                        <form  [formGroup]="feedback">
                            <div class="row">
                                <div class="col s12">
                                  <div class="row">
                                    <div class="input-field col s12">
                                      <textarea id="textarea1" class="materialize-textarea" formControlName="feedbackInput"></textarea>
                                      <label for="textarea1">Write your feedback</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </form>
                        <button class="btn ui-flat-button" style="width: 100%;" (click)="submitFeedBack()">Submit Feedback and Rating</button>
                        <br>
                        <h6 style="text-align: center;" *ngIf="showSubmitting">Submitting..</h6>
                      </div>
            </div>
        </div>
    </div>

    <div class="modal-holder" *ngIf="showLoginModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4>You are not Logged in</h4>
          <a (click)="showLoginModal =false"><i class="material-icons close-modal ">close</i></a>
        </div>
        <div style="text-align: center;" class="modal-data">
          <p style="font-size: large;">You should be logged in to download this data</p>
          <div>
            <button class="btn-large ui-flat-button" [routerLink]="['/login/client']">Login As Client</button>
          </div>
          <br>
          <hr>
          <p style="font-size: large;">Not a part of us?</p>
          <div>
            <button class="btn-large ui-flat-button" [routerLink]="['/register']">Join as a Client</button>
          </div>
        </div>
      </div>


    </div>
    <div class="modal-holder" *ngIf="showBuyModal">
      <div class="modal-content" *ngIf="showPurchaseModal">
        <div class="modal-header">
          <h4>Download Dataset</h4>
          <a><i class="material-icons close-modal " (click)="showBuyModal=false">close</i></a>
        </div>
        <div class="modal-data">
          <h5>You'll be downloading the following dataset</h5>
          <div class="row" style="padding-top: 1rem">
            <div class="col s8" style="border-right: 1px solid gainsboro">
              <h6 style="font-size: 2rem;
              font-weight: 400;">{{ViewData.title}}</h6>
              <span>Date &bull; </span><span>{{ViewData.data_of_industry}} &bull; </span> <span>
                {{ViewData.information_type}}</span>
              <p>{{ViewData.description}}</p>
              <ngb-rating [max]=5 [rate]=1 style="font-size: 3rem;
              color: yellow;" [readonly]=true></ngb-rating>
            </div>
            <div class="col s4">
              <div class="row">
                <div class="col s8">
                  Available Wallet Balance
                </div>
                <div class="col s4">
                  <span class="download-modal-price">{{walletAmount}}$</span>
                </div>
              </div>
              <div class="row" style="padding-left:1%">
                <div class="col s8">
                  Price
                </div>
                <div class="col s4">
                  <span class="download-modal-price">{{ViewData.price}}$</span>

                </div>
              </div>
              <div class="row" style="    padding-top: 5%;
              border-top: 1px solid grey;">
                <div class="col s8">
                  Final Wallet Balance
                </div>
                <div class="col s4">
                  <span
                    class="download-modal-price">{{convertValueToString(walletAmount,ViewData.price)}}$</span>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <button class="btn-large ui-flat-button" style="width: 100%;" (click)="showBuyModal=false">Cancel</button>

            </div>
            <div class="col s6">
              <button class="btn-large ui-flat-button" style="width: 100%;" (click)="initiateDownload()">Buy</button>
            </div>

          </div>
        </div>
      </div>

      <div class="modal-content" *ngIf="showCompletedPurchaseModal">
        <div class="modal-header">
          <h4>Purchase Successful
          </h4>
          <a><i class="material-icons close-modal " (click)="closeTransaction()">close</i></a>

        </div>
        <div class="modal-data">
          <h5>Your DataSet will be visible in your dashboard shortly</h5>
          <h6>Your Data will start in some time</h6>

          <br>
          <table>
            <tr>
              <td>Updated Wallet Balance</td>
              <td class="download-modal-price">
                {{convertValueToString(walletAmount,ViewData.price)}}$
              </td>
            </tr>
          </table>

          <div style="margin-top:1rem">
            <button class="btn-large ui-flat-button" (click)="closeTransaction()">
              Close
            </button>
            &nbsp;
            <button class="btn-large ui-flat-button">Show My Downloads</button>

          </div>
        </div>
      </div>

      <div class="modal-content" *ngIf="showLowBalanceModal">
        <div class="modal-header">
          <h4>Not enough balance</h4>
          <a href="">
            <i class="material-icons close-modal" (click)="closeLowBalanceModal()">close</i>
          </a>
        </div>
        <div class="modal-data" >
         <div style="text-align: center;">
          <h6>You dont have enough balance to buy this dataset</h6>
          <br>
         </div>
         <table>
           <tr>
             <td>Your balance</td>
             <td class="download-modal-price" style="color: red !important;">{{walletAmount}}$</td>
           </tr>
           <tr>
             <td>Price</td>
             <td class="download-modal-price">{{ViewData.price}}$</td>
           </tr>

         </table>
          
        </div>
    
      </div>


    </div>

    <!-- Header of data -->
    <div id="data-head" class="row">
      <div class="col s8">
        <div class="row">
          <div class="col s12" style="border-bottom:1px solid black">
            <h4 style="font-weight: 600;
                        font-size: 4rem;">{{ViewData.title}}</h4>
            <!-- <h4>Dummy title</h4> -->
            <h6 id="date">{{ViewData.upload_date | date : "MMMM d, y"}}</h6>
            <!-- <h6>12th Feb 2020</h6> -->
          </div>
          <div class="col s12">
            <div id="description-container">
              <h5>Description</h5>
              <hr>
              <p>{{ViewData.description}}</p>

            </div>

            <div class="details-table">
              <h5>Details</h5>
              <hr>
              <table class="table">

                <tbody>
                  <tr>
                    <td> Country</td>
                    <td>{{ViewData.location_focus}}</td>
                  </tr>
                  <tr>
                    <td>Downloads</td>
                    <td>{{ViewData.downloads}}</td>
                  </tr>

                  <tr>
                    <td>Type of Information</td>
                    <td>{{ViewData.information_type}}</td>
                  </tr>
                  <tr>
                    <td>Information Format</td>
                    <td>{{ViewData.mime}}</td>
                  </tr>
                  <tr>

                    <td>Industry</td>
                    <td>{{ViewData.data_of_industry}}</td>
                  </tr>

                </tbody>

              </table>
            </div>


          </div>
          <div class="col s12">
            <div class="row">
              <div class="col s12">

                <div id="snapshot">
                  <h5>Snapshot of the data</h5>
                  <hr>
                  <div id="snapshot-container">

                  </div>
                </div>


                <div id="data-provided-container">
                  <h5>Data Provided By</h5>
                  <hr>
                  <!-- <h6>{{ViewData.uploaded_by.first_name}} {{ViewData.uploaded_by.last_name}}</h6>
                                    <h6>{{ViewData.uploaded_by.email}} | {{ViewData.uploaded_by.phone_number}}</h6> -->
                  <h6 style="font-size:2rem">{{ViewData.uploaded_by.first_name}} {{ViewData.uploaded_by.last_name}}</h6>

                  <h6>Contact</h6>
                  <a class="btn ui-flat-button"><i
                      class="material-icons left">email</i>{{ViewData.uploaded_by.email}}</a>
                  &nbsp;
                  <a class="btn ui-flat-button"><i
                      class="material-icons left">phone</i>{{ViewData.uploaded_by.phone}}</a>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div style="border-bottom: 1px solid black;
                padding-bottom: 1rem;
                padding-top: 1.5rem;">
          <span id="rating">
            <ngb-rating [max]=5 [rate]=rating [readonly]=true></ngb-rating>
          </span>
          &nbsp;
          <span class="price">
            <!-- &bull; {{ViewData.price}}$ -->
            &bull; {{ViewData.price}}$

          </span>
        </div>

        <div class="row">
          <div class=" col s12" style="padding:1rem">
          
            <a class="btn-large ui-flat-button" style="width: 100%;margin-top: 0.5rem;" (click)="download()" *ngIf="ViewData.purchased"><i
                class="material-icons left">shop</i>Download</a>
            <a class="btn-large ui-flat-button" style="width: 100%;margin-top: 0.5rem;" (click)="showFeedBackModal = true" *ngIf="ViewData.purchased">
                <i
                class="material-icons left" >thumbs_up_down</i>
                Rate and Review
            </a>
            <a  class="btn-large ui-flat-button" *ngIf="!ViewData.purchased" style="width: 100%;" (click)="purchase()"> <i class="material-icons left">account_balance_wallet</i>Purchase</a>
          </div>
          <div class="col s12">
            <div style="text-align:center">
              <h5>Suggestions</h5>
              <div id="suggestions-container">

              </div>
            </div>
          </div>
        </div>

      </div>


    </div>


  </div>
</div>
